// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
body {
  --ion-background-color: white;
  --ion-text-color: black;
  --ion-toolbar-color: black;
  --ion-toolbar-background: white;
  --color: black;
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.transaction-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  padding: 1rem 0;
  background-color: var(--ion-color-tertiary);
  border-radius: 1rem;
  padding: 1rem;
  color: white;
}
.transaction-card div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.transaction-card div span:nth-child(1) {
  color: var(--ion-color-primary);
  font-size: 1.25rem;
}
.transaction-card div span:nth-child(2) {
  font-size: 0.75rem;
}
#transaction-value {
  margin: auto 0;
}

.transaction-value-pos {
  color: var(--ion-color-success);
}
.transaction-value-neg {
  color: var(--ion-color-danger);
}

.ios body,
.md body {
  ion-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 0;
  }
  ion-header ion-icon {
    font-size: 2rem;
  }
  ion-header h1 {
    margin: auto 0;
  }

  --ion-color-primary: #dab93f;
  --ion-color-secondary: black;
  --ion-color-tertiary: #101010;
  --ion-background-color: black;
  --ion-text-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
