<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>
    <ion-icon (click)="back()" name="chevron-back-outline"></ion-icon>
    <h1>Create Account</h1>
  </ion-header>

  <div class="inputs-container">
    <ion-input [(ngModel)]="firstName" label="First name" label-placement="floating" fill="outline"
      placeholder="Enter text"></ion-input>
    <ion-input [(ngModel)]="middleName" label="Middle name" label-placement="floating" fill="outline"
      placeholder="Enter text"></ion-input>
    <ion-input [(ngModel)]="lastName" label="Last Name" label-placement="floating" fill="outline"
      placeholder="Enter text"></ion-input>
    <ion-input [(ngModel)]="age" label="Age" label-placement="floating" fill="outline" placeholder="Enter text">
    </ion-input>
    <ion-select fill="outline" label="Gender" [(ngModel)]="gender">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
    </ion-select>
    <ion-input [(ngModel)]="email" label="Email" label-placement="floating" fill="outline" placeholder="Enter text">
    </ion-input>
    <ion-input [(ngModel)]="password" label="Password" label-placement="floating" fill="outline"
      placeholder="Enter text"></ion-input>
    <ion-input [(ngModel)]="retypePassword" label="Retype Password" label-placement="floating" fill="outline"
      placeholder="Enter text"></ion-input>
    <ion-button (click)="signup()" expand="block" shape="round">
      Register
    </ion-button>
  </div>
</ion-content>
