* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.loadingAnimation {
  display: flex;
  height: 3rem;
  width: 3rem;
  margin: 10rem auto 0 auto;
}

.header-text {
  margin-left: 0.25rem;
  font-size: 1rem;
  font-weight: 800;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  width: 90%;
  background-color: var(--ion-color-tertiary);
  border-radius: 1rem;
  padding: 1rem;
  color: white;
}
.dashboard-card span {
  color: var(--ion-color-primary);
  font-size: 1rem;
  text-transform: uppercase;
}
.dashboard-card div {
  font-size: 2rem;
  letter-spacing: 2px;
}
.icon {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon ion-icon {
  color: var(--ion-color-primary);
  font-size: 2rem;
}
ion-grid {
  width: 100%;
}
ion-col {
  display: flex;
  align-items: center;
  justify-self: center;
}
